*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #F8CED8;
}

header h1{
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 1rem;
    padding: 0.3rem;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.mainNosotros{
    height: 80vh;
    display: grid;
    grid-template-areas: "mainP mainP"
                         "imagen1 imagen2"
                         "imagen3 imagen4"
                         "parrafo parrafo";
    justify-content: center;
}

.mainP{
    grid-area: mainP;
}

.imagen1{
    grid-area: imagen1;
}

.imagen2{
    grid-area: imagen2;
}

.imagen3{
    grid-area: imagen3;
}

.imagen4{
    grid-area: imagen4;
}

.parrafo{
    grid-area: parrafo;
}

footer p{
    text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 600px){
    .mainNosotros{
        height: 80vh;
        display: grid;
        grid-template-areas: "mainP mainP"
                             "imagen1 imagen2"
                             "imagen3 imagen4"
                             "parrafo parrafo";
        justify-content: center;
    }
    }
